journeymap
logs
mods
resourcepacks
saves
.curseclient
crafttweaker.log
minecraftinstance.json
options.txt
usercache.json
usernamecache.json
config/BiomeTweaker/output/*
config/jei/worldSettings.cfg
config/advRocketry/asteroidConfig.xml
config/advRocketry/oreConfig.xml